<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR GENERATOR</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div class="container">
    <h1>QR GENERATOR</h1>
    <form id="form" action="/qr.html" method="POST" >
      <label for="inputText">Enter your Link</label>
      <input type="text" id="inputText" name="textlink" required>
      <button class="btn btn-primary" id="submitButton" type="submit">Generate</button>
    </form>
    <div id="response"></div>
  </div>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
